{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Details{% endblock %}</h1>
{% endblock %}

{% block content %}
  <ul>
    {% for release in releases %}
      <li>
        <a href="{{ release['link'] }}">{{ release["release_title"] }}</a>
        <a href="{{ url_for('collection.add',
                    release_id=release['release_id'],
                    anime_id=release['anime_id'])
                  }}">
          <button>Add to Collection</button>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
