{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}My Collection{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if message %}
    <p>{{ message }}</p>
  {% else %}
    <table>
      <tr>
        <th>Image</th>
        <th>Release Title</th>
        <th>Price Bought</th>
        <th>Date Bought</th>
        <th>Comment</th>
        <th></th>
      </tr>
      {% for show in collection %}
        <tr>
          <td><img src="{{ show['image'] }}" alt="Thumbnail of release's image."></td>
          <td><a href="{{ show['link'] }}">{{ show["release_title"] }}</a></td>
          <td>${{ show["price_bought"] or "" }}</td>
          <td>{{ show["date_bought"] or "" }}</td>
          <td>{{ show["comment"] }}</td>
          <td>
            <a href="{{ url_for('collection.edit',
                        release_id=show['release_id'])
                      }}">
              <button>Edit</button>
            </a>
            <a href="{{ url_for('collection.remove',
                        release_id=show['release_id'])
                      }}">
              <button>Remove</button>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
