<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - MyAnimeCollection</title>
  </head>
  <body>
    <nav>
      <h1><a href="{{ url_for('index') }}">MyAnimeCollection</a></h1>
      <ul>
        {% if g.user %}
          <li><span>{{ g.user["username"] }}</span></li>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
          <li><a href="{{ url_for('collection.search') }}">Search</a></li>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
          <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="error-message">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
